@model  IEnumerable<SSinternational.viewmodel.ArrivalInvoicesListVM>
<script>
    $("#arrivalinvoice-tbl").DataTable({
        "columnDefs": [{
            "targets": [7],
            "orderable": false
        }],
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search..."
        }
    });
</script>

<div class="body-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
									<table class="table table-bordered table-hover" id="arrivalinvoice-tbl" > 
										<thead>
												 <tr>
                                                    <th>Date</th>
                                                    <th>Invoice</th>
                                                    <th>Grade</th>
                                                    <th>Invoice Qty.</th>
                                                    <th>Gross</th>
                                                    <th>Tare</th>
                                                    <th>Net</th>
                                                    <th>Action</th>

                                                 </tr>
											</thead>
											<tbody>
                                                @foreach(var arrvlDtl in Model){
												<tr>
                                                        <td>@arrvlDtl.dateofarrival.ToString("dd/MM/yyyy")</td>
                                                        <td>@arrvlDtl.invoice</td>
                                                        <td>@arrvlDtl.grade</td>
                                                        <td>@arrvlDtl.invoicequantity</td>
                                                        <td>@arrvlDtl.gross</td>
                                                        <td>@arrvlDtl.tare</td>
                                                        <td>@arrvlDtl.net</td>
                                                        <td>
                                                           <a href="@Url.Action("EditdamageBag", "Okaybybroker", new  {@invoiceId=@arrvlDtl.arrivalDetailid})" class="btn btn-xs btn-danger" role="button">Damages</a> 
                                                        </td>
                                                        
                                                </tr>
                                                }
                                            </tbody>
									</table>
            </div>
        </div>

    </div>

</div>