@model IEnumerable<SSinternational.viewmodel.CatalogueVM>

@{
    ViewBag.Title = "Wms-Pro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="header-panel-info">
        <div class="row">
        
            <div class="col-md-6">
                <ul class="header-info-left">
                    <li>List of Catalogue</li>
                     
                </ul>
            </div>
            <div class="col-md-6">

              
               
                <ul class="header-info-right">
                    <li><a href="@Url.Action("addCatalogue", "Catalogue")" class="btn btn-primary" role="button">Back to search</a></li>
                </ul> 
            </div>
       
        </div> 
         </div><!--end row panel-->
    </div>
<div class="body-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
									<table class="table table-bordered table-hover" id="tbl-ctlgList" > 
										<thead>
												 <tr>
                                                    <th>Catalogue</th>
                                                    <th>Date</th>
                                                    
                                                    <th>Lot</th>
                                                    <th>Sale</th>
                                                    <th>Serial</th>
                                                    <th>Action</th>

                                                 </tr>
											</thead>
											<tbody>
                                                @foreach(var catalgLst in Model){
												<tr>
                                                        <td>@catalgLst.catalognumber</td>
                                                        <td>@(catalgLst.catalougedate.Value.ToString("dd/MM/yyyy"))</td>
                                                        <td>@catalgLst.lotNumber</td>
                                                        <td>@catalgLst.saleNumber</td>
                                                        <td>@catalgLst.bagSerial</td>



                                                        <td>
                                                            <a href="@Url.Action("catalogueEdit", "catalogue", new  {catalogId = @catalgLst.catalogId,arrivalInvoiceId=@catalgLst.arrivalInvoiceId })" class="btn btn-xs btn-primary" role="button">Edit</a>
                                                            
                                                            
                                                        </td>
                                                        
                                                </tr>
                                                }
                                            </tbody>
									</table>
            </div>
        </div>

    </div>

</div>



<!-- Modal for confirmation-->
<div id="unldmstMsgModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Unloding Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are sure to delete this record ?</p>
          <p><input type="hidden" value="" id="hd-unldmst" />
              <input type="hidden" value="@Url.Action("DeleteUnloadMaster","Unloadingmaster")" id="hdbasepth" />
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-default unldmst-del-confirm" data-dismiss="modal">Yes</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal for successfull/unsuccessfull delete-->
<div id="unloadmst-delete-success" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Unloading Master Delete</h4>
      </div>
      <div class="modal-body message-unldmst">
        
      </div>
      <div class="modal-footer">
          <input type="hidden" value="@Url.Action("Index","Unloadingmaster")" id="hdbasepthredirect" />
        <button type="button" class="btn btn-default btn-unldmstsuccdel" data-dismiss="modal">Okay</button>
       </div>
    </div>

  </div>
</div>

