<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss") 
    @Styles.Render("~/Content/font-awesome.min.css") 
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css" />

</head>
<body>
 <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-leaf"></span></a>
        </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Master <span class="caret"></span>

	          </a>
	          <ul class="dropdown-menu">

	          	<li class="dropdown-submenu">
	                <a tabindex="-1" href="#">Parent</a>
	                <ul class="dropdown-menu">
	                  <li>
                          <a tabindex="-1" href="#">Op1-1 1</a>

	                  </li>
	                  
	                  <li><a href="#">Opt1-1 2 </a></li>
	                  <li><a href="#">Opt1-1 3 </a></li>
	                </ul>
	              </li>
	            <li>@Html.ActionLink("Customer","Index","Customer")</li>
	            <li>@Html.ActionLink("Estate","Index","Estate")</li>
	            <li>@Html.ActionLink("Garden","Index","Garden")</li>
                <li>@Html.ActionLink("Warehouse","Index","Warehouse")</li>
                <li>@Html.ActionLink("Package","Index","Package")</li>

	            <li role="separator" class="divider"></li>
	            <li><a href="#">Opt1-last</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opt2 Level 1 <span class="caret"></span></a>
	          <ul class="dropdown-menu ">
	            <li><a href="#">Opt2-1</a></li>
	            <li><a href="#">Opt2-2</a></li>
	            <li><a href="#">Opt2-3</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Opt2-last</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opt3 Level 1 <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Op3-1</a></li>
	            <li><a href="#">Op3-2</a></li>
	            <li><a href="#">Op3-3</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Op3-last</a></li>
	          </ul>
	        </li>
	      </ul>
            <!-- left area off navbar -->
            <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("logout","Login")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            <!-- left area off navbar -->




	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
 <div id="page-wrapper">

     
           @RenderBody()


     <footer class="footer">
      <div class="container">
        <p class="text-muted">@ViewBag.companyName</p>
      </div>
    </footer>
     
 </div>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/menujs.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/dataTbleBootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/udfjs/company.js" type="text/javascript" ></script>
    <script src="~/Scripts/udfjs/estate.js" type="text/javascript" ></script>
    <script src="~/Scripts/udfjs/garden.js" type="text/javascript" ></script>
    <script src="~/Scripts/udfjs/warehouse.js" type="text/javascript" ></script>
</body>
</html>
<!--http://getbootstrap.com/2.3.2/components.html#buttonGroups-->
<!--http://www.mytecbits.com/microsoft/dot-net/bootstrap-with-asp-net-mvc-4-step-by-step-->