@model SSinternational.viewmodel.WarehousesVM
@{
    ViewBag.Title = "WmsPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="header-panel-info">
        <div class="row">
        
            <div class="col-md-6">
                <ul class="header-info-left">
                    <li>Add warehouse</li>
                     
                </ul>
            </div>
            <div class="col-md-6">

             
               
                 <ul class="header-info-right">
                   
                    <li>
                        <a href="@Url.Action("addEdit","Warehouse")" class="btn btn-primary" role="button">ADD NEW</a>
                    </li>
                    <li><a href="@Url.Action("Index","Warehouse")" class="btn btn-primary" role="button">LIST</a></li>
                </ul> 
            </div>
       
        </div> 
         </div><!--end row panel-->
 </div>
<div style="width:60% ;margin:0 auto;">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"> <i class="fa fa-address-book-o" aria-hidden="true"></i> Warehouse</div>
            <div class="panel-body">
                @using (Html.BeginForm("addEdit", "Warehouse", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true, "", new { @class="text-danger"})
                    
                        @Html.HiddenFor(m=>m.WarehouseId) 
                   <div class="form-group">
                         @Html.LabelFor(m => m.Name, new {@class="col-sm-2 control-label"})
                        <div class="col-sm-10">
                             @Html.TextBoxFor(m=>m.Name,new {@class="form-control",placeholder="Warehouse name"})
                        <span  class="help-block" style="color:red">@Html.ValidationMessageFor(m=>m.Name)</span>
                        </div>
                    </div>

                    
                    <div class="form-group">
                         @Html.LabelFor(m => m.Description, new {@class="col-sm-2 control-label"})
                        <div class="col-sm-10">
                             @Html.TextAreaFor(m=>m.Description,new {@class="form-control",placeholder="Description"})
                            
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="@Url.Action("Index","Warehouse")" class="btn btn-primary" role="button">Cancel</a>
                        </div>
                    </div>
            
                    
                }
            
            
            </div>
    </div>

</div>
