@model IEnumerable<SSinternational.viewmodel.GardenListVM>
@{
    ViewBag.Title = "WmsPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="header-panel-info">
        <div class="row">
        
            <div class="col-md-6">
                <ul class="header-info-left">
                    <li>List of Garden</li>
                     
                </ul>
            </div>
            <div class="col-md-6">

              
               
                <ul class="header-info-right">
                    <li>
                        <a href="@Url.Action("addEdit","Customer")" class="btn btn-primary" role="button">ADD NEW</a>
                    </li>
                    <li><a href="@Url.Action("Index","Customer")" class="btn btn-primary" role="button">LIST</a></li>
                </ul> 
            </div>
       
        </div> 
         </div><!--end row panel-->
    </div>
<div class="body-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
									<table class="table table-bordered table-hover" id="garden-tbl" > 
										<thead>
												 <tr>
                                                    <th>Garden</th>
                                                    <th>Code</th>
                                                    <th>Customer</th>
                                                    <th>Action</th>
                                                 </tr>
											</thead>
											<tbody>
                                                @foreach(var garden in Model){
												<tr>
                                                        <td>@garden.gardenname</td>
                                                        <td>@garden.gardencode</td>
                                                        <td>@garden.customername</td>
                                                        <td>
                                                            <a href="@Url.Action("addEdit", "Customer", new  {gardenId=@garden.gardenId })" class="btn btn-xs btn-primary" role="button">Edit</a>
                                                            <button class='btn btn-danger btn-xs garden-del' data-id="@garden.gardenId"  data-toggle="modal" data-target="#cnf-modal-garden"><span class="fa fa-times"></span> Delete</button>
                                                        </td>
                                                        
                                                </tr>
                                                }
                                            </tbody>
									</table>
            </div>
        </div>

    </div>

</div>



<!-- Modal for confirmation-->
<div id="cnf-modal-garden" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Garden Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are sure to delete this record ?</p>
          <p><input type="hidden" value="" id="hd-custid" /></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-default garden-del-confirm" data-dismiss="modal">Yes</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal for successfull/unsuccessfull delete-->
<div id="cus-delete-success" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Customer Delete</h4>
      </div>
      <div class="modal-body message">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-succdel" data-dismiss="modal">Okay</button>
       </div>
    </div>

  </div>
</div>
